[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
librosa = "*"
tensorflow = "*"
sounddevice = "*"
speechrecognition = "*"
wavio = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
